/Caro/.vs/CaroMaster/v16/.suo
/Caro/CaroMaster/bin/Debug/CaroMaster.exe
/Caro/CaroMaster/bin/Debug/CaroMaster.exe.config
/Caro/CaroMaster/bin/Debug/CaroMaster.pdb
/Caro/CaroMaster/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Caro/CaroMaster/obj/Debug/CaroMaster.csproj.CoreCompileInputs.cache
/Caro/CaroMaster/obj/Debug/CaroMaster.csproj.FileListAbsolute.txt
/Caro/CaroMaster/obj/Debug/CaroMaster.csproj.GenerateResource.cache
/Caro/CaroMaster/obj/Debug/CaroMaster.csprojAssemblyReference.cache
/Caro/CaroMaster/obj/Debug/CaroMaster.exe
/Caro/CaroMaster/obj/Debug/CaroMaster.pdb
/Caro/CaroMaster/obj/Debug/CaroMaster.Properties.Resources.resources
/Caro/CaroMaster/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
